{% extends 'base.html' %}

{% block title %}Квартира №{{ data.id }}{% endblock %}

{% block content %}
    <div>Информация о квартире №{{ data.id }}</div>
    <div>Описание</div>
    {% for descr in data.hotels %}
            {% if data.id == descr.id %}
            <li>{{ descr.description }} </li>
            {% endif %}
    {% endfor %}
    <div>Цена</div>
    {% for descr in data.hotels %}
            {% if data.id == descr.id %}
            <li>{{ descr.price }} </li>
            {% endif %}
    {% endfor %}
    <div>Количество комнат</div>
     {% for descr in data.hotels %}
            {% if data.id == descr.id %}
            <li>{{ descr.bedrooms }} </li>
            {% endif %}
    {% endfor %}
{% endblock %}
